

div.header {
	background-color: #F5F5F5;
	font-family: "Montserrat";
	text-align: center;
	padding: 90px;

}
div.content{
	
	font-family: "Montserrat";
	color: white;
	width: 170px;
	height: 200px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	line-height: 30px;
	background-color: #febb00 ;

	margin: 4px;
	float: left;

}

 @font-face { 
	font-family: "Montserrat"; 
	src: url("Montserrat-Regular.ttf"); 
	} 

#enter {
	font: "Lato";
}
#delete {
	font: "Lato";
}


<!--comment baby
(2) dd3300 Red(Orange) (.91 - 1.0)
(3) ff6600  (.81 - 90)
(4) ff9900  (.71 - 80)
(5) febb00 Gold  (.61 - 70)
	fedd00 (.51 - 60)
(7) bbdd00 (.41 - 50)
(8) 99cc00 (.31 - 40)
(9) 66bb00 (.21 - 30)
(10) 33aa00 (.11 - .20)
(11) 007700 (0-.10)



#228b22
-->
