<html>
    <head></head>
    <body>
        <h1>Hello {{world}}</h1>
        <button id = "enter" action = "/addseat/">Check In</button>


        <p id="bechtel_link"></p>
        <a href="/bechdellink/">Click me</a>

        <script>

        	// $.ajax({
        	// 	"TYPE":"GET",
        	// 	"URL":"/plz"
        	// }).then(function(o) {
        	// 	var j = JSON.parse(o.responseText);
        	// 	for (var i = 0; i < j.length; i++) {
        	// 		$("#hello").append(j[i])
        	// 	}

        	// })




        </script>



        <script>
        	// $(".submit").click(function(data) {
        	// 	var k = $("#placeholder").val();
        	// 	$.ajax({
        	// 		"TYPE":"POST",
        	// 		"URL":"updateClick",
        	// 		"DATA": {
        	// 			val: k
        	// 		}
        	// 	}).then(function(data) {
        	// 		if (data.success == 0 ) {
        	// 			$("#placeholder").hide();
        	// 		} else {

        	// 		}
        	// 	})
        	// })


        </script>
    </body>
</html>
